.sqlbuddy-nav {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 10;
	height: 54px;

	.navbar { width: 100%; }
}

.sqlbuddy {
	display: flex;
	overflow: hidden;
	height: 100vh;
	margin-top: -54px;
	padding-top: 54px;
	position: relative;
	width: 100%;
	backface-visibility: hidden;
	will-change: overflow;

	.container-fluid { width: 100%; }
}

.sqlbuddy-sidebar,
.sqlbuddy-main {
	overflow: auto;
	height: auto;
	padding: 40px 20px 20px;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

.sqlbuddy-sidebar {
	width: 17%;
	min-width: 200px;
}

.sqlbuddy-main { flex: 1; }

.sqlbuddy-sidebar-table-list {
	list-style: none;
	padding: 0 5px;
	margin: 1em 0;

	.active { font-weight: bold; }
}

.sqlbuddy-table-table-wrapper {
	overflow: auto;

	td {
		max-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.truncated {
		color: #0275d8;
		cursor: pointer;

		&:active,
		&:hover {
			color: #014c8c;
		}
	}
}

// Pagination
.pagination-container {
	margin: 1rem 0;

	.pagination {
		margin: 0;
	}

	.page-info, .row-info {
		display: inline-block;
		margin: 7px 0 0 40px;
	}

	select {
		display: inline-block;
		width: auto;
	}
}

// Popover
.popover {
	max-width: 500px;
}

.popover-content {
	word-wrap: break-word;
}