.sqlbuddy {
	margin: 40px 0;
}
.sqlbuddy-sidebar {
	overflow: auto;
}
.sqlbuddy-sidebar-table-list {
	list-style: none;
	padding: 0 5px;
	margin: 1em 0;

	.active { font-weight: bold; }
}
.sqlbuddy-table-table-wrapper {
	overflow: auto;
}

// Pagination
.pagination-container {
	margin: 1rem 0;

	.pagination {
		margin: 0;
	}

	.page-info, .row-info {
		display: inline-block;
		margin: 7px 0 0 40px;
	}

	select {
		display: inline-block;
		width: auto;
	}
}