html {
background: #DDDDDB;
}

#header {
/*background: url(../images/header.png) repeat-x bottom;*/
background: #444;
background-image: none;
border-bottom: 1px solid #efefef;
}
#bottom{
border-top: 1px solid #dedede;	
}

h3, h4 {
color: steelblue;
}

#innercontent {
background: white;
border-color: rgb(75, 75, 75);
border-width: 2px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-style: solid;
}

#headerinfo a {
color: rgb(215, 215, 215) !important;
text-shadow: rgb(50, 50, 50) 0 1px 0;
}
#headerinfo a:hover {
color: #fff !important;
}

#loginform {
padding: 7px;
background: url(../../../images/transparent.png);
}
#loginform .loginspacer {
background: white;
}

.dblistheader {
color: #777;
}

.dblist ul li a .menutext {
color: #444;
}
.dblist ul li.selected a .menutext {
color: #fff;
}
.dblist ul li.selected>a {
background: rgb(75, 75, 75) !important;
border-color: rgb(75, 75, 75);
border-width: 0px;
padding: 3px 0px;
-webkit-border-top-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-webkit-border-bottom-left-radius: 3px; 
-moz-border-radius-bottomleft: 3px;
color: #fff !important;
}
.sublist li a {
color: #444;
}
.subcount {
color: #666;
}
.selected .subcount {
color: #ddd;
}

#toptabs ul li a {
color: rgb(215, 215, 215);
text-shadow: rgb(50, 50, 50) 0 1px 0;
font-weight: bold;
padding: 4px 7px;
}
#toptabs ul li a .rowcount {
color: rgb(235, 235, 235);
}
#toptabs ul li a:hover {
color: #fff;
padding: 4px 7px;
}
#toptabs ul li.selected a {
color: #fff;
font-weight: bold;
text-shadow: rgb(50, 50, 50) 0 1px 0;
background: steelblue;
padding: 4px 7px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}

#toptabs ul li.selected a .rowcount {
color: rgb(235, 235, 235);
}
#toptabs ul li.deactivated a {
color: rgb(175, 175, 175) !important;
}
#toptabs ul li.deactivated a .rowcount {
color: rgb(175, 175, 175) !important;
}
#leftside {
width: 200px;
}
#rightside {
margin-left: 200px;
}
.inputbutton {
	background-color: rgb(252,252,252);
	background-image: -moz-linear-gradient(top, rgb(252,252,252), rgb(240,240,240));
	background-image: -webkit-linear-gradient(top, rgb(252,252,252), rgb(240,240,240));
	border: 1px solid #BBBBBB;
	padding:2px 8px !important;
	text-shadow:0 1px 0 rgb(255,255,255);
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	line-height: 12px;
	width: 69px;
	height: 26px; 
}
.inputbutton:hover{
	border: 1px solid #666;
	color:rgb(0,0,0);
}
.inputbutton:active {
	background-color: rgb(240,240,240);	
	background-image: -moz-linear-gradient(top, rgb(225,225,225), rgb(240,240,240));
	background-image: -webkit-linear-gradient(top, rgb(225,225,225), rgb(240,240,240));
	color: rgb(0,0,0);
}
.text, textarea {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
background:#F5F5F5 none repeat scroll 0 0;
border:1px solid #CCCCCC;
color:#666666;
font-size:10px;
height:14px;
margin-right:2px;
padding:3px;
vertical-align:top;
}
.menuicon {
	visibility: hidden;
}
.dblist ul li a .menutoggler {
background: transparent url("../images/closedArrow.png") no-repeat 4px 3px;
}
.dblist ul li a .menuicon {
height: 14px;
margin: 0px 5px 0px 6px;
float: left;
font-size: 10px;
padding-top: 1px;
}
.dblist ul li.expanded a .menutoggler{
background: transparent url("../images/openArrow.png") no-repeat 3px 3px;
}